/* line 3, ../sass/sass/style.scss */
.navbar {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 7, ../sass/sass/style.scss */
.content {
  position: relative;
  max-width: 1000px;
  min-width: 960px;
  min-height: 400px;
}
