/* line 5, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 2, ../sass/sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 24, ../sass/sass/reset.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 29, ../sass/sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 34, ../sass/sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 40, ../sass/sass/reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 47, ../sass/sass/reset.scss */
q, blockquote {
  quotes: none;
}

/* line 103, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 51, ../sass/sass/reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 57, ../sass/sass/reset.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 62, ../sass/sass/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 66, ../sass/sass/reset.scss */
a {
  text-decoration: none;
}

/* line 5, ../sass/sass/style.scss */
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* line 11, ../sass/sass/style.scss */
html, body {
  position: relative;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

/* line 21, ../sass/sass/style.scss */
body.on {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

/* line 27, ../sass/sass/style.scss */
.container-fluid {
  padding: 0;
}

/* line 31, ../sass/sass/style.scss */
.navbar {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
  background-color: #80bd01;
  opacity: 0.95;
  z-index: 1;
}
/* line 37, ../sass/sass/style.scss */
.navbar .navbar-brand {
  padding: 0;
}
/* line 39, ../sass/sass/style.scss */
.navbar .navbar-brand img {
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
}
/* line 45, ../sass/sass/style.scss */
.navbar .cnode-header {
  position: relative;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 48, ../sass/sass/style.scss */
.navbar .cnode-header .cnode-toggle {
  position: relative;
  float: left;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 15px;
  background-color: #fff;
  border: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 58, ../sass/sass/style.scss */
.navbar .cnode-header .cnode-toggle .cnode-icon-bar {
  background-color: #80bd01;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
/* line 65, ../sass/sass/style.scss */
.navbar .cnode-header .cnode-toggle .cnode-icon-bar + .cnode-icon-bar {
  margin-top: 4px;
}
/* line 69, ../sass/sass/style.scss */
.navbar .cnode-header .cnode-toggle:focus {
  outline: 0;
}
/* line 72, ../sass/sass/style.scss */
.navbar .cnode-header .navbar-title {
  position: absolute;
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  width: 50px;
  height: 30px;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: 10px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 92, ../sass/sass/style.scss */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -200px;
  width: 200px;
  background-color: #fff;
  color: #313131;
  z-index: 999;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 102, ../sass/sass/style.scss */
.sidebar .login {
  position: relative;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 44px;
  border-bottom: 1px solid #80bd01;
  color: #80bd01;
}
/* line 110, ../sass/sass/style.scss */
.sidebar .login .fa {
  margin-right: 10px;
}
/* line 113, ../sass/sass/style.scss */
.sidebar .login .fa-arrow-circle-right {
  color: #80bd01;
}
/* line 117, ../sass/sass/style.scss */
.sidebar ul {
  position: relative;
  padding-top: 10px;
}
/* line 121, ../sass/sass/style.scss */
.sidebar ul li {
  padding: 20px;
  font-size: 16px;
  text-align: center;
}
/* line 125, ../sass/sass/style.scss */
.sidebar ul li a {
  color: #313131;
  text-decoration: none;
}
/* line 128, ../sass/sass/style.scss */
.sidebar ul li a .fa {
  margin-right: 10px;
}
/* line 134, ../sass/sass/style.scss */
.sidebar ul li.divider {
  padding: 0;
  margin: 0 44px;
  height: 1px;
  background-color: #80bd01;
}

/* line 144, ../sass/sass/style.scss */
.navbar.on .cnode-header {
  left: 200px;
}
/* line 146, ../sass/sass/style.scss */
.navbar.on .cnode-header .cnode-title {
  left: 200px;
}

/* line 152, ../sass/sass/style.scss */
.navbar.on ~ .sidebar {
  left: 0;
}

/* line 156, ../sass/sass/style.scss */
.navbar.on ~ .topics-wrapper {
  background-color: #000;
  opacity: .5;
}

/* line 161, ../sass/sass/style.scss */
.topics-wrapper {
  position: relative;
  margin-top: 50px;
}
/* line 164, ../sass/sass/style.scss */
.topics-wrapper .topics-scroll {
  overflow: scroll;
  width: 100%;
  height: 1000px;
}
/* line 169, ../sass/sass/style.scss */
.topics-wrapper .topics {
  padding: 5px 15px;
  border-bottom: 1px solid #acb29e;
}
/* line 172, ../sass/sass/style.scss */
.topics-wrapper .topics .title {
  line-height: 30px;
  color: #313131;
}
/* line 175, ../sass/sass/style.scss */
.topics-wrapper .topics .title > a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #2c3e50;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 186, ../sass/sass/style.scss */
.topics-wrapper .topics .title > a.top:before {
  background-color: #ea6c5f;
}
/* line 189, ../sass/sass/style.scss */
.topics-wrapper .topics .title > a.good:before {
  background-color: #E67E22;
}
/* line 192, ../sass/sass/style.scss */
.topics-wrapper .topics .title > a.share:before {
  background-color: #1ABC8C;
}
/* line 195, ../sass/sass/style.scss */
.topics-wrapper .topics .title > a.ask:before {
  background-color: #6ca1fa;
}
/* line 198, ../sass/sass/style.scss */
.topics-wrapper .topics .title > a.job:before {
  background-color: #9B59B9;
}
/* line 201, ../sass/sass/style.scss */
.topics-wrapper .topics .title > a:before {
  content: attr(title);
  margin-right: 10px;
  color: #FFF;
  padding: 4px;
  background-color: #e7e7e7;
  font-size: 13px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 210, ../sass/sass/style.scss */
.topics-wrapper .topics .title .title-content {
  padding-top: 10px;
}
/* line 212, ../sass/sass/style.scss */
.topics-wrapper .topics .title .title-content .avatar {
  float: left;
  width: 40px;
  margin-right: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 218, ../sass/sass/style.scss */
.topics-wrapper .topics .title .title-content .title-info {
  float: left;
}
/* line 224, ../sass/sass/style.scss */
.topics-wrapper .topics:active {
  background-color: #f9f9f9;
}

/* line 229, ../sass/sass/style.scss */
.topics-shade {
  background-color: #313131;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  visibility: hidden;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 242, ../sass/sass/style.scss */
.topics-shade.on {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  visibility: visible;
  opacity: .7;
  display: block;
}

/* line 250, ../sass/sass/style.scss */
.topic {
  padding-top: 50px;
  border: 1px solid #eeeeee;
  -moz-box-shadow: 0px 8px 20px rgba(50, 50, 50, 0.3);
  -webkit-box-shadow: 0px 8px 20px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 8px 20px rgba(50, 50, 50, 0.3);
}
/* line 254, ../sass/sass/style.scss */
.topic .topic-main {
  padding: 0 0 20px 0;
  border-bottom: 1px solid #e4e4e4;
}
/* line 257, ../sass/sass/style.scss */
.topic .topic-main .top {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #80bd01;
  color: #fff;
  display: none;
}
/* line 267, ../sass/sass/style.scss */
.topic .topic-main .top.active {
  display: inline-block;
}
/* line 270, ../sass/sass/style.scss */
.topic .topic-main .author {
  font-size: 15px;
  color: #939393;
  margin-left: 40px;
}
/* line 276, ../sass/sass/style.scss */
.topic .content {
  border-bottom: 1px solid #e4e4e4;
}
/* line 278, ../sass/sass/style.scss */
.topic .content .markdown-text {
  word-break: break-all;
}
/* line 279, ../sass/sass/style.scss */
.topic .content .markdown-text h2 {
  font-size: 25px;
  font-weight: bold;
  line-height: 35px;
}
/* line 284, ../sass/sass/style.scss */
.topic .content .markdown-text p {
  line-height: 35px;
}
/* line 288, ../sass/sass/style.scss */
.topic .content .markdown-text img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
/* line 296, ../sass/sass/style.scss */
.topic .author-info {
  margin-top: 100px;
}
/* line 300, ../sass/sass/style.scss */
.topic .reply .reply-title {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 10px;
}
/* line 304, ../sass/sass/style.scss */
.topic .reply .reply-content-wrapper {
  margin-bottom: 20px;
}
/* line 306, ../sass/sass/style.scss */
.topic .reply .reply-content-wrapper .author-content img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
}
/* line 310, ../sass/sass/style.scss */
.topic .reply .reply-content-wrapper .author-content .author-details {
  padding: 5px;
  float: right;
  font-size: 15px;
}
/* line 317, ../sass/sass/style.scss */
.topic .reply .reply-content-wrapper .reply-content {
  padding: 10px 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e4e4e4;
}
/* line 321, ../sass/sass/style.scss */
.topic .reply .reply-content-wrapper .reply-content .markdown-text {
  word-break: break-all;
}
/* line 323, ../sass/sass/style.scss */
.topic .reply .reply-content-wrapper .reply-content .markdown-text img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
