<div class="contaier-fluid" ng-controller="getTopicsCtrl">
    <div class="row">
            <div ng-repeat="topic in topics" class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <img src="{{topic.author.avatar_url}}" alt="" width="30">
                </div>
               <!--  <div class="col-md-2 col-sm-2 col-xs-2">
                    {{topic.reply_count}}/{{topic.visit_count}}
                </div> -->
                <div class="col-md-6 col-sm-6 col-xs-6"><a href="topic/{{topic.id}}">{{topic.title}}</a></div>
                <div class="col-md-3 col-sm-3 col-xs-3">{{topic.last_reply_at}}</div>
            </div>
    </div>
</div>