<div class="container-fluid topics-wrapper">
    <div class="row">
        <div ng-repeat="topic in topics" class="col-md-12 col-sm-12 col-xs-12 topics">
            <!-- <div class="col-md-1 col-sm-1 col-xs-1">
                <img src="{{topic.author.avatar_url}}" alt="" width="30">
            </div>
            <div class="col-md-1 col-sm-1 col-xs-2">
                <div class="top" ng-class="{true: 'active', false: ''}[topic.top]">顶置</div>
                <div class="good" ng-class="{true: 'active', false: ''}[topic.good]">精华</div>
                <div class="tab" ng-class="{true: 'active', false: ''}[topic.good || topic.top]">
                    <p ng-bind="kindOfTab(topic.tab)"></p>
                </div>
            </div> -->
            <div class="col-md-12 col-sm-12 col-xs-12 title" ui-sref="topic({topicId: topic.id})">
                <a title="{{topic.newTab}}" ng-class="topic.label">{{topic.title}}</a>
                <div class="title-content">
                    <img src="{{topic.author.avatar_url}}" alt="" class="avatar">
                    <div class="title-info">
                        <p>
                            <span class="name">{{topic.author.loginname}}</span>
                            <span class="status">
                                <b>{{topic.reply_count}}</b>
                                /{{topic.visit_count}}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>