<div class="container topic">
    <div class="col-md-8 col-sm-8 col-sm-12">
        <div class="row">
            <div class="h3 title col-md-12 col-sm-12 col-sm-12 topic-main">
                <p>
                    <span class="top" ng-class="{true: 'active'}[topic.top]">顶置</span> {{topic.title}}
                    <div class="clear"></div>
                    <span class="author">作者: {{topic.author.loginname}}</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 content">
                <p ng-bind-html="SkipValidation(topic.content)"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 reply">
                <div class="h4 reply-title">回复</div>
                <div ng-repeat="reply in topic.replies" class="reply-content-wrapper">
                    <div class="author-content">
                        <img src="{{reply.author.avatar_url}}" alt="" width="30">
                        <div class="author-details">
                            <p>{{reply.author.loginname}} <span><i class="fa fa-thumbs-o-up"></i>: {{reply.ups.length}}</span></p>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 reply-content">
                        <p ng-bind-html="SkipValidation(reply.content)"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>