@import "compass/css3";
@import "reset";
.navbar {
    @include border-radius(0);
    margin-bottom: 0;
    .navbar-brand {
        padding: 0;
        img {
            height: 30px;
            margin-top: 10px;
            margin-right: 10px;
        }
    }
}

.topics-wrapper {
    border: 1px solid #eeeeee;
    @include box-shadow(0px 8px 20px rgba(50, 50, 50, 0.3));
    .topics {
        margin: 5px 0;
        .title {
            line-height: 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .top,
        .good {
            @include border-radius(8px);
            height: 30px;
            line-height: 30px;
            text-align: center;
            background-color: #80bd01;
            color: #fff;
            display: none;
        }
        .top.active,
        .good.active {
            display: block;
        }
        .tab {
            @include border-radius(8px);
            height: 30px;
            line-height: 30px;
            text-align: center;
            background-color: #e7e7e7;
            color: #fff;
            display: block;
        }
        .tab.active {
            display: none;
        }
    }
}

.topic {
    border: 1px solid #eeeeee;
    @include box-shadow(0px 8px 20px rgba(50, 50, 50, 0.3));
    .topic-main {
        padding: 20px 0;
        border-bottom: 1px solid #e4e4e4;
        .top {
            @include border-radius(8px);
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background-color: #80bd01;
            color: #fff;
            display: none;
        }
        .top.active {
            display: inline-block;
        }
        .author {
            font-size: 15px;
            color: #939393;
            margin-left: 40px;
        }
    }
    .content {
        border-bottom: 1px solid #e4e4e4;
        .markdown-text {
            h2 {
                font-size: 25px;
                font-weight: bold;
                line-height: 35px;
            }
            p {
                line-height: 35px;
            }
            word-break: break-all;
            img {
                max-width: 100%;
                height: auto;
                vertical-align: middle;
                border: 0;
            }
        }
    }
    .author-info {
        margin-top: 100px;
    }
    .reply {
        .reply-title {
            border-bottom: 1px solid #e4e4e4;
            padding-bottom: 10px;
        }
        .reply-content-wrapper {
            margin-bottom: 20px;
            .reply-content {
                padding: 10px 30px;
                margin-bottom: 20px;
                border-bottom: 1px solid #e4e4e4;
                .markdown-text {
                    word-break: break-all;
                    img {
                        max-width: 100%;
                        height: auto;
                        vertical-align: middle;
                        border: 0;
                    }
                }
            }
        }
    }
}