@import "compass/css3";
@import "reset";


body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

html, body {
  position: relative;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

body.on {
    position: fixed;
    height: 100%;
    overflow: hidden;
}

.container-fluid {
    padding: 0;
}

.navbar {
    @include border-radius(0);
    margin-bottom: 0;
    background-color: #fff;
    opacity: 0.95;
    z-index: 1;
    .navbar-brand {
        padding: 0;
        img {
            height: 30px;
            margin-top: 10px;
            margin-right: 10px;
        }
    }
    .cnode-header {
        position: relative;
        @include transition(all .3s ease);
        .cnode-toggle {
            position: relative;
            float: left;
            padding: 9px 10px;
            margin-top: 8px;
            margin-bottom: 8px;
            margin-left: 15px;
            background-color: #fff;
            border: 0;
            .cnode-icon-bar {
                background-color: #80bd01;
                display: block;
                width: 22px;
                height: 2px;
                border-radius: 1px;
            }
            .cnode-icon-bar+.cnode-icon-bar {
                margin-top: 4px;
            }
        }
        .cnode-toggle:focus {
            outline: 0;
        }
        .navbar-title {
            position: absolute;
            text-align: center;
            line-height: 30px;
            font-size: 18px;
            color: #313131;
            width: 50px;
            height: 30px;
            display: block;
            top: 50%;
            left: 50%;
            margin-left: -25px;
            margin-top: 10px;
            @include transition(all .3s ease);
        }
    }
    
    
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -200px;
    width: 200px;
    background-color: #fff;
    color: #313131;
    z-index: 999;
    @include transition(all .3s ease);
    .login {
        position: relative;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 44px;
        border-bottom: 1px solid #80bd01;
        color: #80bd01;
        .fa {
            margin-right: 10px;
        }
        .fa-arrow-circle-right {
            color: #80bd01;
        }
    }
    ul {
        position: relative;
        padding-top: 10px;

        li {
            padding: 20px;
            font-size: 16px;
            text-align: center;
            a {
                color: #313131;
                text-decoration: none;
                .fa {
                    margin-right: 10px;
                }
                
            }
        }
        li.divider {
            padding: 0;
            margin: 0 44px;
            height: 1px;
            background-color: #80bd01;
        }
    }
}

.navbar.on {
    .navbar-header {
        left: 200px;
        .navbar-title {
            left: 200px;
        }
    }
}

.navbar.on ~ .sidebar {
    left: 0;
}

.navbar.on ~ .topics-wrapper {
    background-color: #000;
    opacity: .5;
}

.topics-wrapper {
    position: relative;
    margin-top: 50px;
    padding: 0 15px;
    .topics {
        margin: 5px 0;
        .title {
            line-height: 30px;
            color: #313131;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            & > a {
                color: #2c3e50;
                font-size: 16px;
                line-height: 1.5;
            }
            & > a.top:before {
                background-color: #E74C3C;
            }
            & > a.good:before {
                background-color: #E67E22;
            }
            & > a.share:before {
                background-color: #1ABC8C;
            }
            & > a.ask:before {
                background-color: #c39b70;
            }
            & > a.job:before {
                background-color: #9B59B9;
            }
            & > a:before {
                content: attr(title);
                margin-right: 10px;
                color: #FFF;
                padding: 4px;
                background-color: #e7e7e7;
                font-size: 13px;
                @include border-radius(5px);
            }
        }
    }
}

.topics-shade {
    background-color: #313131;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    visibility: hidden;
    @include transition(all .3s ease);
}

.topics-shade.on {
    @include transition(all .3s ease);
    @include transform(translateX(200px));
    visibility: visible;
    opacity: .7;
    display: block;
}

.topic {
    padding-top: 50px;
    border: 1px solid #eeeeee;
    @include box-shadow(0px 8px 20px rgba(50, 50, 50, 0.3));
    .topic-main {
        padding: 0 0 20px 0;
        border-bottom: 1px solid #e4e4e4;
        .top {
            @include border-radius(8px);
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background-color: #80bd01;
            color: #fff;
            display: none;
        }
        .top.active {
            display: inline-block;
        }
        .author {
            font-size: 15px;
            color: #939393;
            margin-left: 40px;
        }
    }
    .content {
        border-bottom: 1px solid #e4e4e4;
        .markdown-text {
            h2 {
                font-size: 25px;
                font-weight: bold;
                line-height: 35px;
            }
            p {
                line-height: 35px;
            }
            word-break: break-all;
            img {
                max-width: 100%;
                height: auto;
                vertical-align: middle;
                border: 0;
            }
        }
    }
    .author-info {
        margin-top: 100px;
    }
    .reply {
        .reply-title {
            border-bottom: 1px solid #e4e4e4;
            padding-bottom: 10px;
        }
        .reply-content-wrapper {
            margin-bottom: 20px;
            .reply-content {
                padding: 10px 30px;
                margin-bottom: 20px;
                border-bottom: 1px solid #e4e4e4;
                .markdown-text {
                    word-break: break-all;
                    img {
                        max-width: 100%;
                        height: auto;
                        vertical-align: middle;
                        border: 0;
                    }
                }
            }
        }
    }
}